common: &common

  # MySQL connection information
  # ---------------------------------------------------------------------------
  # You can list mulitple databases to backup using the following format:
  #
  #   unique_name:
  #     host:       localhost
  #     database:   your_database_name
  #     username:   your_username
  #     password:   your_password
  #     port:       3306 (will default to 3306)
  #   unique_name_2:
  #     host:       localhost
  #     database:   another_database_name
  #     username:   another_username
  #     password:   another_password
  #     port:       3306 (will default to 3306)

  mysql:
    database1:
      host:       localhost
      database:   database_name
      username:   root
      password:   


  # Amazon AWS S3 connection information
  # ---------------------------------------------------------------------------
  # You can get your S3 information when you create a user using AWS IAM console.

  s3:
    bucket:             your-bucket-name
    access_key_id:      your-IAM-key-id
    secret_access_key:  your-IAM-access-key


# -----------------------------------------------------------------------------

# You can define different keys for different app environments.
development:
  <<: *common

test:
  <<: *common

staging:
  <<: *common

production:
  <<: *common